div#notificationContainer {
	position: fixed;
	top: 45px;
	right: 10px;
	width: 350px;
	z-index: 99999;
}

#divRefreshButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}